.h-300 {
  min-height: 300px;
}

.like {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}

.product-img {
  object-fit: cover;
  transition: all 0.5s ease 0s;
}

.product-card {
  overflow: hidden;
}
.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-card:hover .product-img {
  transform: scale(1.1);
}
